<h1> Thank you, the link below will direct you to the donation page </h1>

<!--START BANNER: from http://mydonate.bt.com --><a href="http://mydonate.bt.com:80/fundraisers/michaeljones5" target="_blank"><img src="http://mydonate.bt.com:80/images/promotional/buttons/fundraisers/160x125/violet/button-1.gif" border="0" alt="Visit my fundraising page on BT MyDonate"></a><!--END BANNER: from http://mydonate.bt.com -->
